body {
  margin: 0%;
  padding: 0%;
  background-color: #060f1d;
}
.dark-mode {
  background: #060f1d;
  color: #e0e0e0;
}
.text-color {
  color: #ffb633;
}
.imageBox {
  --border-size: 3px;
  --border-angle: 0turn;
  width: auto;
  height: auto;
  background-image: conic-gradient(
      from var(--border-angle),
      #060f1d,
      #060f1d 50%,
      #060f1d
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.company {
  position: relative;
  margin-left: 6%;
  padding: 17px 0;
}
.company::before {
  position: absolute;
  content: "";
  top: 30px;
  left: calc(-6% - 3px);
  width: 3%;
  height: 1px;
  background: #8892b0;
}
